<section class="service-style-three sec-pad">
    <div class="thm-container">
        <div class="row masonary-layout">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service-three">
                    <div class="img-box">
                        <img src="img/Services/RollUp/1.jpg" alt="Awesome Image">
                    </div><!-- /.img-box -->
                    <div class="text-box hvr-bounce-to-bottom">
                        <a href="service-details.html"><h3>Roll Up</h3></a>
                        <div class="meta-info">
                            @*<p>50 cards from <span>$19.99</span></p>*@
                        </div><!-- /.meta-info -->
                        <p>Kolay kurulum ve geniş reklam alanı ile kullanıcı dostu bir üründür</p>
                        <a href="@Url.Action("Roll","Services")" class="read-more fas fa-angle-right"></a>
                    </div><!-- /.text-box -->
                </div><!-- /.single-service-three -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service-three">
                    <div class="img-box">
                        <img src="img/Services/FolyaBaski/1.jpeg" alt="Awesome Image">
                    </div><!-- /.img-box -->
                    <div class="text-box hvr-bounce-to-bottom">
                        <a href="service-details.html"><h3>Folya Baskı</h3></a>
                        <div class="meta-info">
                            @*<p>50 cards from <span>$19.99</span></p>*@
                        </div><!-- /.meta-info -->
                        <p>Duvar Kaplama, Mobilya Kaplama, Beyaz Eşya, Mutfak Tezgahları, Cam Yüzeyler , Mermer ve Ahşap Yüzeyler, Fayans, Duşakabin vb..</p>
                        <a href="@Url.Action("Folya","Services")" class="read-more fas fa-angle-right"></a>
                    </div><!-- /.text-box -->
                </div><!-- /.single-service-three -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service-three">
                    <div class="img-box">
                        <img src="img/Services/CanvasBaski/1.jpg" alt="Awesome Image">
                    </div><!-- /.img-box -->
                    <div class="text-box hvr-bounce-to-bottom">
                        <a href="service-details.html"><h3>Canvas Baskı</h3></a>
                        <div class="meta-info">
                            @*<p>50 cards from <span>$19.99</span></p>*@
                        </div><!-- /.meta-info -->
                        <p>Ürünlerimizi farklı boyutlardaki seçenekleriyle satın alabilirsiniz</p>
                        <a href="@Url.Action("Canvas","Services")" class="read-more fas fa-angle-right"></a>
                    </div><!-- /.text-box -->
                </div><!-- /.single-service-three -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service-three">
                    <div class="img-box">
                        <img src="img/Services/Mash-Baski/1.jpg" alt="Awesome Image">
                    </div><!-- /.img-box -->
                    <div class="text-box hvr-bounce-to-bottom">
                        <a href="service-details.html"><h3>Mesh Baskı</h3></a>
                        <!--<div class="meta-info">
                    <p>50 cards from <span>$19.99</span></p>
                </div>-->
                        <!-- /.meta-info -->
                        <p>Mesh vinil diğer vinillere göre delikli bir vinil ürünüdür.</p>
                        <a href="@Url.Action("Mesh","Services")" class="read-more fas fa-angle-right"></a>
                    </div><!-- /.text-box -->
                </div><!-- /.single-service-three -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service-three">
                    <div class="img-box">
                        <img src="img/Services/ONEWAY/1.jpg" alt="Awesome Image">
                    </div><!-- /.img-box -->
                    <div class="text-box hvr-bounce-to-bottom">
                        <a href="service-details.html"><h3>One Way </h3></a>
                        <!--<div class="meta-info">
                    <p>50 cards from <span>$19.99</span></p>
                </div>-->
                        <!-- /.meta-info -->
                        <p>One Way Vision malzeme olarak binaların Cam yüzeylerine yapılan reklam uygulama malzemesidir</p>
                        <a href="@Url.Action("One","Services")" class="read-more fas fa-angle-right"></a>
                    </div><!-- /.text-box -->
                </div><!-- /.single-service-three -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service-three">
                    <div class="img-box">
                        <img src="img/Services/Refletik/refletik.jpg" alt="Awesome Image">
                    </div><!-- /.img-box -->
                    <div class="text-box hvr-bounce-to-bottom">
                        <a href="service-details.html"><h3>Reflektif Folyo Baskı</h3></a>
                        <div class="meta-info">
                            @*<p>50 cards from <span>$19.99</span></p>*@
                        </div><!-- /.meta-info -->
                        <p>ürünlerinin, çok geniş bir uygulama alanı vardır ve güvenlik ile görünürlüğün ön planda olduğu her alanda yenilikçi ürünler sunmaktadır.</p>
                        <a href="@Url.Action("Refletif","Services")" class="read-more fas fa-angle-right"></a>
                    </div><!-- /.text-box -->
                </div><!-- /.single-service-three -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service-three">
                    <div class="img-box">
                        <img src="img/Services/KumlamaFulya/1.jpg" alt="Awesome Image">
                    </div><!-- /.img-box -->
                    <div class="text-box hvr-bounce-to-bottom">
                        <a href="service-details.html"><h3>Kumlama Folya</h3></a>
                        <div class="meta-info">
                            @*<p>50 cards from <span>$19.99</span></p>*@
                        </div><!-- /.meta-info -->
                        <p>Kumlu folyo uygulaması özellikle ofislerde kullanıldığı kadar görüntü engelleyici özelliği sayesinde ev balkon cam filmi olarak da kullanılabilmektedir.</p>
                        <a href="@Url.Action("Kumlama","Services")" class="read-more fas fa-angle-right"></a>
                    </div><!-- /.text-box -->
                </div><!-- /.single-service-three -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service-three">
                    <div class="img-box">
                        <img src="img/Services/orumcekStand/1.jpg" alt="Awesome Image">
                    </div><!-- /.img-box -->
                    <div class="text-box hvr-bounce-to-bottom">
                        <a href="service-details.html"><h3>Örümcek Stand</h3></a>
                        <div class="meta-info">
                            @*<p>50 cards from <span>$19.99</span></p>*@
                        </div><!-- /.meta-info -->
                        <p>Örümcek Stand her çeşit fuar organizasyon tanıtım seminer ve ürün reklamlarınızda kullanabileceğiniz özel hazır display stand çeşitleridir.</p>
                        <a href="@Url.Action("orumcek","Services")" class="read-more fas fa-angle-right"></a>
                    </div><!-- /.text-box -->
                </div><!-- /.single-service-three -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service-three">
                    <div class="img-box">
                        <img src="img/Services/Forex/1.jpg" alt="Awesome Image">
                    </div><!-- /.img-box -->
                    <div class="text-box hvr-bounce-to-bottom">
                        <a href="service-details.html"><h3>Forex Baki</h3></a>
                        <div class="meta-info">
                            @*<p>50 cards from <span>$19.99</span></p>*@
                        </div><!-- /.meta-info -->
                        <p>Foreks baskı birçok firma tarafından sıkça kullanılan bir pazarlama ürünüdür.</p>
                        <a href="@Url.Action("Forex","Services")" class="read-more fas fa-angle-right"></a>
                    </div><!-- /.text-box -->
                </div><!-- /.single-service-three -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
        <!--<nav aria-label="Page navigation" class="text-center">
            <ul class="pagination clearfix">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>-->
                <!--
                -->
                <!--<li class="active"><a href="#">1</a></li>-->
                <!--
                -->
                <!--<li><a href="#">2</a></li>-->
                <!--
                -->
                <!--<li><a href="#">3</a></li>-->
                <!--
                -->
                <!--<li><a href="#">4</a></li>-->
                <!--
                -->
                <!--<li><a href="#">5</a></li>-->
                <!--
                -->
                <!--<li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>-->
    </div><!-- /.thm-container -->
</section><!-- /.all-services -->